/* Lines between all nav items */
/* @media only screen and (min-width: 960px) {
  .navbar .navbar-nav .nav-item .nav-link {
    padding: 0 0.5em;
  }
  .navbar .navbar-nav .nav-item:not(:last-child) .nav-link {
    border-right: 2px solid green;
  }
} */

@media only screen and (min-width: 960px) {
  /* .navbar {
    height: 65px;
  }
  .navbar .navbar-nav .nav-item .nav-link {
    padding: 0 1.5em;
  }
  #home-nav-link {
    border-right: 2px solid green;
  }
  .navbar .navbar-nav .nav-item:hover .nav-link {
    border: 2px dashed blue;
    transition-duration: .2s;
    transition-timing-function: ease-in;
  } */
}

.badge {
  border: 1px solid black;
  box-shadow: 5px 5px 20px #888888;
}

#badge {
  display: flex;
  justify-content: flex-end;
  position: absolute;
  right: 0;
}
